<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contact information</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
          <li><a href="/" role="button"> Go back to the main page </a></li>
        </ul>
      </nav>
      <h1>{{contact[0]}}</h1>
	  <p>Address: <b>{{contact[1]}}</b></p>
	  <p>Phone: <b>{{contact[2]}}</b></p>
	  <p>Email: <b>{{contact[3]}}</b></p>
    </main>
  </body>
</html>

